* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/sev.jpg);
    background-position-x: center;
    background-size: cover;
    padding-left: 4%;
    padding-right: 8%;
    box-sizing:border-box;
}

.bar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width:70px;
    cursor:pointer;
}

.post {
    display:flex ;
    height: 88%;
    align-items: center;
}

.col {
    flex: basis 50%;
}

h1 {
    color: #fff;
    font-size: 100px;
}

p {
    color: #fff;
    font-size: 20px;
    line-height: 25px;
}

button {
    width: 180px;
    color: #000;
    font-size:15px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px; 
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 40px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 20px;
    background-position:center;
    background-size: cover;
    position: relative;
}
.position{
    position:absolute;
    bottom: 0;
    padding-bottom: 10px ;
}

.card1 {
    background-image: url(image/hht1.jpg);
}

.card2 {
    background-image: url(image/vct.jpg);
}

.card3 {
    background-image: url(image/pft.jpg);
}

.card:hover {
    transform:translatey(-10px);
}

h3 {
    color: #fff;
    text-shadow: 0 0 5px #999;
}

